<form>
  <div class="form-group col-md-3">
    <label for="category">Spending Category</label>
    <select class="form-control " id="category">
      <option>Stephen Spending</option>
      <option>Jimi Spending</option>
      <option>Grocery</option>
      <option>Eating Out</option>
      <option>Misc</option>
      <option>Transit</option>
      <option>Etsy Shop</option>
      <option>Special</option>
      <option>Bills</option>
    </select>
    <br/>
    <label for="amout">Amount Spent</label>
      <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="number" value="" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="amout" />
      </div>
  </div>
</form>
